[submodule "transport-management-system"]
	path = transport-management-system
	url = git@github.com:jarsa/transport-management-system.git
	branch = 14.0

[submodule "operating-unit"]
	path = operating-unit
	url = git@github.com:jarsa/operating-unit.git
	branch = 14.0
